workflows/Prospect Generation & Enrichment.json
{
  "name": "Firecrawl Showcase",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a cold outreach copywriter helping [Sender] from [Company] send super casual, highly personalized cold emails to [target businesses].\n\n[Company] is a [marketplace platform] that helps businesses get more bookings. Listing is free, there's no commitment, and it works alongside their existing setup — including FareHarbor, Peek, and other tools.\n\nTone & Style Rules (Enforced):\n\n1. Human, casual, slightly imperfect — like a friendly DM, not a corporate email.\n\n2. Never use em dashes (—). If the AI tries to include them, delete them. Use commas or periods instead.\n\n3. Start the email with a lowercase letter. This makes it feel more human.\n\n4. Never follow the same layout — mix it up. Break expectations.\n\n5. No marketing buzzwords or fake hype. (Avoid phrases like \"amazing opportunity\", \"platform\", or \"join us.\")\n\n6. Avoid sounding like a template. Write like you're texting or emailing a friend.\n\nEmail Content Guidelines:\n\nMention [Company] as a side option, not a replacement.\n\nFOMO & Metrics Guidelines (Use numbers!)\n\nInclude one natural-sounding, location-aware stat or insight — ideally with a number or percentage — to create subtle urgency or FOMO.\n\nExamples — use only if relevant, otherwise come up with your own:\n\n“bookings are up 42% this season on [Company]”\n\n“charters in {{ $json.Location }} are getting booked out 2–3 weekends in advance”\n\n“demand rose 28% last month alone”\n\n“[Company] listings have seen a 35% jump in bookings this season”\n\n“some operators in {{ $json.Location }} are earning 2x more this quarter”\n\n“many hosts are seeing 3–5 extra trips a week from [Company] alone”\n\nAvoid vague phrases like “getting more attention” — make it specific and believable. You can invent reasonable figures based on observed trends, but never overpromise.\n\nYour stat or line should sound real, specific, and lightly urgent — no fake hype.\n\nReference one specific detail from their business — like a boat model, service, or experience.\n\nAvoid repeating phrase structures (e.g., “Your ___ looks awesome!”).\n\nKeep body under 300 characters (not counting subject or sign-off).\n\nYou must include a clickable link to https://[company].com somewhere in the email body.\n\nMake it feel natural, use the examples below only as inspiration — do not copy them word-for-word unless they fit perfectly:\n\n“You can check us out here: https://[company].com”\n\n“Learn more at [company].com”\n\n“See how it works at [company].com — it’s free to list”\n\n\nStructure:\n\nSubject: Specific and curiosity-driven (e.g., “Extra bookings this week?”, “Booking boost for dolphin tours?”)\n\nGreeting:\n\nIf contact name exists: “hey [Name]!” or “hello [Name]!”\n\nIf not: “hey there!” or “hello!”\n\nCTA: Soft and casual\nUse the examples below only as inspiration — do not copy them word-for-word unless they fit perfectly:\n“want me to send more info?”\n“open to chatting?”\n”Are you available for a quick call?”\n\nSign off casually:\n\ncheers,<br>- [Sender]\n\nor\n\nbest,<br>- [Sender]",
              "role": "system"
            },
            {
              "content": "=Write a cold email showing how [Company] can bring value to {{ $json['Business Name'] }} and invite them to list on the platform.\n\nUse the following business data to personalize the email:\n\nWebsite Summary: {{ $json['Business Summary'] }}\n\nBoat Types: {{ $json.Boats }}\n\nServices/Offerings: {{ $json.Services }}\n\nExperiences: {{ $json.Experiences }}\n\nContact Name (if available): {{ $json['Contact Name'] }} or {{ $json['Contact Name 1'] }}\n\nIf a real Contact Name is available, use it naturally in the greeting. If not, use a generic greeting.\n\nYou MUST vary sentence structure and avoid generic compliments or robotic patterns.\n\nReturn only this JSON format (no markdown, no backticks):\n\n{ \"Company Name\": \"{{ $json['Business Name'] }}\", \"Email\": \"{{ $json.Email }}\", \"Email Subject\": \"[Your subject line here]\", \"Email HTML Body\": \"[Your email body here, using <p> tags for paragraphs and line breaks]\" }"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1040,
        -80
      ],
      "id": "f1ba6214-2a79-44fc-aa6c-8f2534ee1177",
      "name": "Data Enrichment",
      "credentials": {
        "openAiApi": {
          "id": "WO1Avm4qNSisczK1",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "Web Scraping & Enrichment",
        "height": 400,
        "width": 2220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -420,
        -180
      ],
      "typeVersion": 1,
      "id": "914ea26f-3a45-4846-a172-d1e96ffce102",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/apify~website-content-crawler/runs?token=YOUR_APIFY_API_KEY\n",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"aggressivePrune\": false,\n  \"clickElementsCssSelector\": \"[aria-expanded=\\\"false\\\"]\",\n  \"clientSideMinChangePercentage\": 15,\n  \"crawlerType\": \"playwright:chrome\",\n  \"debugLog\": false,\n  \"debugMode\": false,\n  \"expandIframes\": true,\n  \"ignoreCanonicalUrl\": false,\n  \"keepUrlFragments\": false,\n  \"proxyConfiguration\": {\n    \"useApifyProxy\": true\n  },\n  \"readableTextCharThreshold\": 100,\n  \"removeCookieWarnings\": true,\n  \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^='data:'],\\n[role=\\\"alert\\\"],\\n[role=\\\"banner\\\"],\\n[role=\\\"dialog\\\"],\\n[role=\\\"alertdialog\\\"],\\n[role=\\\"region\\\"][aria-label*=\\\"skip\\\" i],\\n[aria-modal=\\\"true\\\"]\",\n  \"renderingTypeDetectionPercentage\": 10,\n  \"saveFiles\": false,\n  \"saveHtml\": false,\n  \"saveHtmlAsFile\": false,\n  \"saveMarkdown\": true,\n  \"saveScreenshots\": false,\n  \"startUrls\": [\n    {\n      \"url\": \"{{ $json.HTTP }}\",\n      \"method\": \"GET\"\n    }\n  ],\n  \"useSitemaps\": false,\n  \"maxPagesPerCrawl\": 10,\n  \"maxCrawlingDepth\": 2,\n  \"maxCrawlTimeSecs\": 60,\n  \"maxRequestsPerDomain\": 10,\n  \"excludeUrlPatterns\": [\n    \".*calendar.*\",\n    \".*booking.*\",\n    \".*checkout.*\",\n    \".*cart.*\",\n    \".*date=.*\",\n    \".*login.*\",\n    \".*reschedule.*\"\n  ],\n  \"budget\": 0.4\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        -380
      ],
      "id": "0023cae5-e07e-4dc4-8987-1d7f3df7f7e2",
      "name": "Google Maps Crawler",
      "retryOnFail": false,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Supply Acq",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1843696981,
          "mode": "list",
          "cachedResultName": "Annapolis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=1843696981"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fleet Size",
              "displayName": "Fleet Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Observations",
              "displayName": "Observations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        40,
        -380
      ],
      "id": "9fdf6ffe-fac8-42fe-a800-67417fd11d48",
      "name": "Prospect Database Input",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZEuSbjlDo8YRg4FJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "Google Maps Crawler\n",
        "height": 260,
        "width": 660,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -420,
        -460
      ],
      "typeVersion": 1,
      "id": "c8c1bd93-0fa7-4010-b323-d91bc4e49f38",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        -80
      ],
      "id": "e73c474c-1279-435b-9768-bda2926f86b1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Supply Acq",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 994676666,
          "mode": "list",
          "cachedResultName": "PC Fishing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=994676666"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Business Category",
              "lookupValue": "Fishing charter"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -360,
        -80
      ],
      "id": "b0b78c87-e52a-4652-9c5d-be8f090ba54f",
      "name": "Raw Prospect Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZEuSbjlDo8YRg4FJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        -380
      ],
      "id": "b3badd8a-935b-4d7e-84af-8ad656d6dce5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c25bc4cd-5cef-428c-a097-1d7409b69d7a",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        -80
      ],
      "id": "13ae63e9-5c88-44be-a42c-f314b16a5331",
      "name": "Qualified?"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "YOUR_EMAIL",
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        1600,
        -80
      ],
      "id": "fab93c71-f57e-497b-9582-315aff248ee6",
      "name": "Contact Create",
      "credentials": {
        "hubspotAppToken": {
          "id": "85gnHGExHpNsSxPF",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Crawling",
        "operation": "crawl",
        "additionalFields": {},
        "useCustomBody": true,
        "customBody": "={\n  \"url\": \"{{ $json.Website }}\",\n  \"limit\": 8,\n  \"includePaths\": [\n    \"/$\",\n    \"/contact.*\",\n    \"/about.*\",\n    \"/charter.*\",\n    \"/charters.*\",\n    \"/trip.*\",\n    \"/trips.*\",\n    \"/pricing.*\",\n    \"/rates.*\",\n    \"/fleet.*\",\n    \"/faq.*\"\n  ],\n  \"excludePaths\": [\n    \"/blog.*\",\n    \"/category.*\",\n    \"/tag.*\",\n    \"/privacy.*\",\n    \"/terms.*\",\n    \"/cart.*\",\n    \"/checkout.*\",\n    \"/account.*\",\n    \"/wp-admin.*\",\n    \"/wp-content.*\"\n  ],\n  \"scrapeOptions\": {\n    \"formats\": [\"markdown\"],\n    \"onlyMainContent\": true\n  }\n}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        60,
        -80
      ],
      "id": "d10d4d04-7c4f-464f-b5a8-9f3add2c839f",
      "name": "Crawl a website and scrape all pages",
      "credentials": {
        "firecrawlApi": {
          "id": "ehQfznw3QUcrKlO5",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "id": "3e10e62e-a6aa-407a-b22c-c5b408944616",
      "name": "Wait",
      "webhookId": "9418f55e-6dbf-439b-ac2a-c48d6ee75557"
    },
    {
      "parameters": {
        "resource": "Crawling",
        "operation": "getCrawlStatus",
        "crawlId": "={{ $json.id }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        500,
        -80
      ],
      "id": "8d524def-0d5e-4899-81cf-8baf6c887219",
      "name": "Get crawl status",
      "credentials": {
        "firecrawlApi": {
          "id": "ehQfznw3QUcrKlO5",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "071072d4-0490-458c-9fdc-2bbe35a6f88b",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        -80
      ],
      "id": "86984cee-2809-4a1b-b993-5380e8e113e1",
      "name": "Check Completion"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        260,
        -80
      ],
      "id": "69b98016-c7b8-43f4-930c-6d9050cb295b",
      "name": "Loop Over Items 1"
    }
  ],
  "pinData": {},
  "connections": {
    "Data Enrichment": {
      "main": [
        [
          {
            "node": "Qualified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Maps Crawler": {
      "main": [
        [
          {
            "node": "Prospect Database Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Crawl a website and scrape all pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raw Prospect Database": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Maps Crawler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualified?": {
      "main": [
        [
          {
            "node": "Contact Create",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Contact Create": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prospect Database Input": {
      "main": [
        []
      ]
    },
    "Crawl a website and scrape all pages": {
      "main": [
        [
          {
            "node": "Loop Over Items 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get crawl status": {
      "main": [
        [
          {
            "node": "Check Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Completion": {
      "main": [
        [
          {
            "node": "Data Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items 1": {
      "main": [
        [],
        [
          {
            "node": "Get crawl status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f3625e3-599f-4ff9-84a9-8379db1382aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "ZxLhw9C4cwRcwF6H",
  "tags": []
}